.selectionCard {
  /* position: relative;
      top: 7rem; */
  margin-top: 1rem;
  height: fit-content;
  #selectionCard-img {
    height: 25rem;
  }
  .selectionCard-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-weight: bold;
    .selectionCard-info-open {
      color: #06b278;
    }

    .selectionCard-info-closed {
      color: red;
    }

    .selectionCard-info-price {
      color: #084f09;
    }
  }
  .selectionCard-title {
    font-weight: bold;
  }
}

@media only screen and (max-width: 770px) {
  .outerCard {
    background-size: cover;
  }

  #selectionCard-img {
    height: 10rem;
  }
}
