# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sln
*.suo
*.csproj
*.csproj.user
*.config
*.sdf

# Log files
*.log
logs/

# User-specific files
.DS_Store
Thumbs.db

# Test files
/coverage
/.nyc_output

