.navbar {
  color: white;
  #navbarLogo {
    border: solid 1px whitesmoke !important;
    padding: 5px;
    border-radius: 0.5rem;
    margin-right: 1rem;
    color: whitesmoke;
  }
  .navbar-text {
    color: whitesmoke !important;
    text-decoration: none;
  }
  .burger-nav-icon {
    color: #964b00;
  }
  .burger-nav-icon:hover {
    color: #fff;
  }
  #navbarCode {
    margin-left: 2rem;
  }
  .logout-btn {
    border: solid #000 2px;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .logout-btn:hover {
    border-color: rgb(240, 134, 134);
    background-color: #000;
    cursor: pointer;
  }
}

.alert {
  margin-bottom: 0;
}
